<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Trinity Creator"
           Language="1033" Version="1.1.0.103"
           Manufacturer="NotCoffee418"
           UpgradeCode="7F3D3555-6622-43BB-A57B-3ADD4D2AFB0F">

    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade Schedule="afterInstallInitialize"
                DowngradeErrorMessage="A later version of Trinity Creator is already installed"
                AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf" />


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Trinity Creator" />
      </Directory>
      <!-- Step 1: Define the directory structure -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Trinity Creator" />
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="TrinityCreator.exe">
        <File Id="TrinityCreator.exe" Source="$(var.TrinityCreator.TargetDir)TrinityCreator.exe" KeyPath="yes" />
      </Component>

      <Component Id="AutoUpdater.NET.dll">
        <File Id="AutoUpdater.NET.dll" Source="$(var.TrinityCreator.TargetDir)AutoUpdater.NET.dll" KeyPath="yes" />
      </Component>
      <Component Id="BouncyCastle.Crypto.dll">
        <File Id="BouncyCastle.Crypto.dll" Source="$(var.TrinityCreator.TargetDir)BouncyCastle.Crypto.dll" KeyPath="yes" />
      </Component>
      <Component Id="Google.Protobuf.dll">
        <File Id="Google.Protobuf.dll" Source="$(var.TrinityCreator.TargetDir)Google.Protobuf.dll" KeyPath="yes" />
      </Component>
      <Component Id="MySql.Data.dll">
        <File Id="MySql.Data.dll" Source="$(var.TrinityCreator.TargetDir)MySql.Data.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Id="Newtonsoft.Json.dll" Source="$(var.TrinityCreator.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="Renci.SshNet.dll">
        <File Id="Renci.SshNet.dll" Source="$(var.TrinityCreator.TargetDir)Renci.SshNet.dll" KeyPath="yes" />
      </Component>
      <Component Id="System.Buffers.dll">
        <File Id="System.Buffers.dll" Source="$(var.TrinityCreator.TargetDir)System.Buffers.dll" KeyPath="yes" />
      </Component>
      <Component Id="System.Memory.dll">
        <File Id="System.Memory.dll" Source="$(var.TrinityCreator.TargetDir)System.Memory.dll" KeyPath="yes" />
      </Component>
      <Component Id="System.Numerics.Vectors.dll">
        <File Id="System.Numerics.Vectors.dll" Source="$(var.TrinityCreator.TargetDir)System.Numerics.Vectors.dll" KeyPath="yes" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.TrinityCreator.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
      </Component>
      <Component Id="Ubiety.Dns.Core.dll">
        <File Id="Ubiety.Dns.Core.dll" Source="$(var.TrinityCreator.TargetDir)Ubiety.Dns.Core.dll" KeyPath="yes" />
      </Component>
      <Component Id="Microsoft.Toolkit.Wpf.UI.Controls.WebView.dll">
        <File Id="Microsoft.Toolkit.Wpf.UI.Controls.WebView.dll" Source="$(var.TrinityCreator.TargetDir)Microsoft.Toolkit.Wpf.UI.Controls.WebView.dll" KeyPath="yes" />
      </Component>      
    </DirectoryRef>

    <!-- Step 2: Add the shortcut to your installer package -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Trinity Creator"
                  Target="[#TrinityCreator.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\NotCoffee418\TrinityCreator" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\NotCoffee418\TrinityCreator" Name="installDirectory" Type="string"
                       Value="[APPLICATIONROOTDIRECTORY]" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="TrinityCreator.exe" />
      <ComponentRef Id="AutoUpdater.NET.dll" />
      <ComponentRef Id="BouncyCastle.Crypto.dll" />
      <ComponentRef Id="Google.Protobuf.dll" />
      <ComponentRef Id="MySql.Data.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="Renci.SshNet.dll" />
      <ComponentRef Id="System.Buffers.dll" />
      <ComponentRef Id="System.Memory.dll" />
      <ComponentRef Id="System.Numerics.Vectors.dll" />
      <ComponentRef Id="System.Runtime.CompilerServices.Unsafe.dll" />
      <ComponentRef Id="Ubiety.Dns.Core.dll" />
      <ComponentRef Id="Microsoft.Toolkit.Wpf.UI.Controls.WebView.dll" />
      
      
      <!-- Step 3: Tell WiX to install the shortcut -->
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Start Trinity Creator" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#TrinityCreator.exe]" />
    <CustomAction Id="LaunchApplication"
                  BinaryKey="WixCA"
                  DllEntry="WixShellExec"
                  Impersonate="yes" />
  </Product>
</Wix>