<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net452" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net452" />
  <package id="CefSharp.Common" version="75.1.143" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="75.1.143" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
</packages>